<!--The content below is only a placeholder and can be replaced.-->
<div>
  <p>
    This is 
    <ng-container *ngIf = "condition">
       <span [style.color] = "'crimson'">true</span>
    </ng-container>
    condition
  </p>
</div>

<div>
  <div>Contoh *ngIf dengan element HTML</div>
  <div *ngIf = "condition">Ini Kondisi true</div>

  <!-- 
    DEPRECATED  
    <div>Contoh *ngIf dengan template attribute</div>
  <div template = "ngIf condition">Ini Kondisi true</div> -->

  <div>Contoh *ngIf dengan ng-template</div>
  <ng-template [ngIf] = "condition">
    <div>Ini Kondisi true</div>
  </ng-template>

</div>

<div>
  <ng-template></ng-template>
</div>

<div>
  <select>
    
    <ng-container *ngFor = "let f of fruits">
       <option [ngValue] = "f">{{f}}</option>
    </ng-container>

  </select>
</div>

<div>
  <input [checked] = "valid" type="checkbox" (change) = "valid=$event.target.checked"/>UnlessDirective
  <p *myUnless = "valid">This is false condition</p>
</div>

